custom-database-export:
  # ---- General connection settings. Set directly specific values or use ENV: syntax to access environment variables.
  connection:
    host: xyz
    username: 'ENV:DB_USER'
    password: 'ENV:DB_PASASWORD'
    dbname: test

  # ---- Structure configuration (optional). Describe the include and exclude list for the data structure export
  # ---- If no includes are defined, all tables are used and only the tableExclude is checked. tableExclude support
  # ---- perl regex syntax. Note: The excludes of the structure export are automatically also used for the data export.
  structure:
    skip: false
    #tableInclude:
    # - 'no regex here, only simple table names'
    tableExclude:
      - '/zzz\_.*/'

  # ---- Data configuration. Configure the data selection of the export. tablesInclude & tablesExclude see above.
  # ---- Details for the special options directly at the configuration below.
  data:
    skip: false
    #tableInclude:
    # - 'no regex here example_table'
    tableExclude:
      - '/cf_.*/'
      - '/cache_.*/'
      - '/[bf]e_sessions/'
      - 'sys_refindex'
    # ---- TDB: Describe Faker
    faker:
      tablename:
        fieldName: FakerName

    # ---- TDB: Describe Wheres
    #wheres:

    # ---- TDB: Describe Limits
    #limits:

  # ---- TDB: Target
  target:
    fileName: 'php://stdout'
    compress: None
