custom-database-export:
  # ---- General connection settings. Set directly specific values or use ENV: syntax to access environment variables.
  connection:
    host: xyz
    username: 'ENV:DB_USER'
    password: 'ENV:DB_PASSWORD'
    dbname: test

  # ---- Structure configuration (optional). Describe the include and exclude list for the data structure export
  # ---- If no includes are defined, all tables are used and only the tableExclude is checked. tableExclude support
  # ---- perl regex syntax. Note: The excludes of the structure export are automatically also used for the data export.
  structure:
    skip: false
    #tableInclude:
    # - 'no regex here, only simple table names'
    tableExclude:
      - '/zzz\_.*/'

  # ---- Data configuration. Configure the data selection of the export. tablesInclude & tablesExclude see above.
  # ---- Details for the special options directly at the configuration below.
  data:
    skip: false
    #tableInclude:
    # - 'no regex here example_table'
    tableExclude:
      - '/cf_.*/'
      - '/cache_.*/'
      - '/[bf]e_sessions/'
      - 'sys_refindex'

    # ---- You can simulate or overwrite values. Just define the table name and field name and set the value of all entries
    # ---- to the given value. If the value start with FAKE you can access PHP Faker functions to generate random values.
    # ---- Example: FAKE:ipv4 will call this method: https://fakerphp.github.io/formatters/internet/#ipv4
    faker:
      sys_log:
        IP: FAKE:ipv4

    # ---- You can define the WHERE clause for the selection to reduce the data to the right set of information. This part
    # ---- is added at the end of the Query, so you can also use sorting, if you limit (see below) the data and you need
    # ---- the end of the table.
    wheres:
      sys_log: 1=1 ORDER BY uid DESC
      sys_history: 1=1 ORDER BY uid DESC

    # ---- Limit the data information on the given table to reduce the size of the dump. You can define the limit, but
    # ---- also limit & offset.
    limits:
      sys_log: 200
      sys_history: 200

  # ---- Target file configuration. You can use 'php://stdout' or a direct filename for the export. stdout only
  # ---- without compression. Compression options are 'None', 'Gzip' and 'Bzip2'
  target:
    fileName: 'php://stdout'
    compress: None
